body{
    background-color: white;
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
  }

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    display: inline-block;
    vertical-align: top;
}

.head {
   
    width: 100%;
    height: auto;
    background-color:gray;
    margin-top: 0px;
    margin-bottom: 25px;
    border-radius: 15px;
}

.head lottie-player {
    display: inline-block;
}


.bottom {
    width: 100%;
    height: 25vh;
    background-color: gray;
    border-radius: 15px;
}

.container {
    width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: auto;
}

.display .img{
    border-radius: 5px;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.display{
    display: flex;
    flex-wrap: wrap;
}

.card {
    margin-top: 10px;
    flex-basis: calc(45% - 10px);
    height: auto;
    box-sizing: border-box;
    border: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 7px;
    border-color: black;
}



.like {
    font-size: 30px;
    color: gray;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.like .liked{
    background-color: red;
}

#add-img{
    background-color: transparent;
    border: solid;
    border-radius: 10px;
    color: black;
    height: auto;
    width: 35%;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

input{
    display: grid;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 50%;
    border: 3px solid black;
    padding: 5px;
}

 .add_img {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.show{
        display: flex;
        flex-wrap: wrap;
}

.show .img{
    border-radius: 5px;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

.delete {
    font-size: 20px;
    color: black;
    border-radius: 5px;
    border: none;
    background-color:transparent;
    cursor: pointer;
}

.comment {
        font-size: 20px;
        color: black;
        border-radius: 5px;
        border: none;
        background-color:transparent;
        cursor: pointer;
}

.hide {
    display: none;
}

label{
    background-color: white;
    width: auto;
    border: solid;
    border-color: black;
    border-radius: 5px;
}

.Image{
    flex-basis: calc(45% - 10px);
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border: solid;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 7px;
    border-color: black;
}

.Image img{
    border-radius: 5px;
    height: 50vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

lottie-player {
    
    background-color: transparent;  
    width: 300px; 
    height: 175px
}


